
/* Variabili CSS:  */

:root{
    --color-P: #CC2936; 
    --color-S: #FAFAFA;
    --color-A: rgb(255, 230, 0);
}


body{
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  
  
  h1{
    font-family: "Ephesis", cursive;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 7px ;
    font-size: 300%;
    color: black;
  }
  
  p {
    font-family: "Bitter", serif;
    font-style: italic;
    font-weight:600;
    color: black;
  }
  h3{
    font-family: "Bitter", serif;
    font-style: normal;
    font-weight:400;
    color: black;
  }
  .navbar{

    background:rgb(235, 234, 235, 0.3); 

  }
  .stelline{
    color: black;
  }
  .resort-text{
    font-family: "Ephesis", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .navbar-toggler{
    border: none;
   
    
  }
  
  .navbar-toggler:focus{
    box-shadow: none;
  }
  .nav-link{
    position: relative;
    
  }
  .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #CC2936;
    transition: .5s;
  }
  .nav-link:hover:before{
    width: 90%;
  }

  .nav-link1{
    
    text-decoration: none;
    
  }


  
  .nav-cont{
    border: 0px;
    padding: 0px;
    margin: 0px;
    width: 100%;
  }
  .nav-item{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    
  }

  .nav-scrolled {
    
    background-color: #FAFAFA!important;
    backdrop-filter: blur(10px);
    box-shadow: 5px 1px 26px #888888;
   
  }

  .transition{
    transition: .7s;
  }   

  .btn:first-child:active{
    border: none;
  }

  .searchBtn{

    background:#CC2936; 
    font-weight: 600;
    border-radius: 8px;
    color: rgb(250, 250, 250 );
    font-family: "Bitter", serif;

  }

  .searchBtn:hover{

    border: 2px solid #CC2936;

  }
  
  .btn_nav{
    background: #CC2936 !important;
    color: white !important;
    
  
  }

  .btn_nav:hover{
    color: #CC2936;
    border: 2px solid #CC2936;
  }

  
  
  .carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .carousel-indicators [data-bs-target] {
    
    
    border: 1px solid white;
  }
  
  .slide1 {
    height: 100vh;
    width: 100%;
    background-image: url(media/IMG_2047.jpeg);
    background-position: center;
    background-size: cover;
  }
  .slide2 {
    height: 100vh;
    width: 100%;
    background-image: url(media/piscinas.jpeg);
    background-position: center;
    background-size: cover;
  }
  .slide3 {
    height: 100vh;
    width: 100%;
    background-image: url(media/masua.jpeg);
    background-position: center;
    background-size: cover;
  }
  
  .carousel-caption {
    position: absolute;
    top: 30%;
    opacity: 0;
    transition: 1s;
  }
  
  .carousel-item.active .carousel-caption {
    opacity: 1;
    top: 40%;
  }
  
  .my_ctn1{
    
    background: #FAFAFA;
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: black;
    
  }
  
  .h2_sect1{
    font-size: 350%;
    text-align: center;
    letter-spacing: 5px;
    background: #FAFAFA;
  
  }

  
  .p_sect1{
    font-size: 130%;
    text-align: center;
  }
  
  .img_benessere1{
    width: 100%;
    
  }
  
  .img_benessere2{
    width: 80%;
  }
  
  .h2benessere{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
  }
  
  .h2benessere2{
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    letter-spacing: 3px;
  }
  .myDropMenu{
    
    border-radius: 0px 0px 10px 10px;
    height: 200px;
    margin: 0px;
    border: 1px solid #CC2936;
    text-align: center;
    color: #CC2936 !important;
    margin-left: 10% ;
    margin-right: 10%;
   
    
  }
  .dropdown-item{
    color: #CC2936 !important;
  }

  
  .dropdown-toggle::after {
    /* content: none; */
    color: #CC2936;
   
  }
  
  .linkmtb{
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  
  section.pricing {
    background: #FAFAFA;
    
  }
  
  .pricing .card {

    width: 65%;
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .text-muted {
    opacity: 0.7;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  
  .card-body{
    
    border-radius: 2%;
  }
  
  body1 {
    background: #FAFAFA;
    
  }
  
  .bg-image {
    background-image: url('media/fotocontatti.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .btn_cont{
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }
  

  .contatti{
    padding-top: 10%
  }
  .colCont{
  
    border-radius: 15px;
    
  }

  #numFam, #numBook, #numCouple{
    color: #CC2936;
  }
  .boxNumeri{
    
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(media/calendar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    
  }

  /* SWIPER */

  .swiper {
    margin-top: 5%;
    width: 50%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    width: 80%;
    background: #fff;
    /* display: flex;
    justify-content: center;
    align-items: center; */
  }

  
  .swiper-slide img {
    
   margin:5% ;
    width: 30%;
    border-radius: 50%;
    border: 2px solid #CC2936;
  }


  .titleBox{

    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: black;
   
  }
  
  
  .footer_d{
    margin-top: 10%;
    background: #FAFAFA;
  }
  
  hr {
    color: #CC2936;
    
  }
  .ctnboxRew{

    margin-top: 15%;
  }

  .pRew{
    font-family: "Bitter", serif;
    font-style:normal;
    font-weight:400;
    font-size: small;
    height: 80%;
    padding: 0px 10px 0px 10px;
    
    
  }
  .star{

    color: gold;
  }

  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
  
    .pricing .card:hover .btn {
      opacity: 1;
    }
    
  }

  @media(max-width:540px) {


    .swiper {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
  
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 90%;
      height:100%;
      margin-top: 0%;
      
    }

    .pRew{
      font-family: "Bitter", serif;
      font-style:normal;
      font-weight:400;
      font-size: 80%;
      height: 80%;
      padding: 0px 10px 0px 10px;
      
      
    }
    
    .swiper-slide img {
    
       
       width: 40%;
       border-radius: 50%;
       border: 2px solid #CC2936;
     }

  }

  @media (max-width: 992px) {

  .nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left:40%;
    width: 0%;
    height: 3px;
    background-color: #CC2936;
    transition: .5s;
  }
  .nav-link:hover:before{
    width: 20%;
  }
  .btn_nav{

    margin-top: 10px;
  }
}